label {
    font-weight: 700;
    margin-right: 0.3em;
    width: auto;
    display: inline-block;
}

#content {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  } 

  table{
    position: relative;
    text-align: left;
    margin: auto;
  }